.DS_Store
Circuit/Board Layout/.DS_Store
Circuit/.DS_Store
Circuit/P1R5/P1R5.zip
Firmware/R5/*/Generated_Code
Firmware/R6/*/Generated_Code
Firmware/R6/*/Documentation
*.g_c
*.g_x

# Files being edited
*~

# Make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym

# Keep these if preferred for a reference of the final build.
# *.elf
# *.hex
Firmware/R6/Clay_C6_Firmware/gdb_log.txt
